@model Contact_Test_App.Models.SubmissionDetails

@{
    ViewBag.Title = "CoverDetails";
    Layout = "~/Views/_layout.cshtml";
}

<h2>CoverDetails</h2>

<fieldset>
    <legend>SubmissionDetails</legend>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
